@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

@theme {
  --color-brand-bg: #dec59e;

  --color-brand-primary: #6a784d;
  --color-brand-secondary: #dec59e;
  --color-brand-accent: #c4866d;

  --color-brand-dark: #33432b;

  --color-brand-card: #fffaf2;

  --color-brand-text: #202808;
  --color-brand-muted: #5f6650;

  --font-sans: "Plus Jakarta Sans", system-ui, sans-serif;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
  font-family: var(--font-sans);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-brand-primary) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-brand-primary);
  border: 1.5px solid var(--color-brand-text);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-brand-secondary);
}
